<h1 mat-dialog-title>Go Sports!</h1>
<div mat-dialog-content>
  <h1>
    I'm super worked-up because my team did stuff!
  </h1>
  <iframe src="https://giphy.com/embed/w6BAZ00PE2ai30V7FA" width="480" height="270"
    frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p><a
      href="https://giphy.com/gifs/tacomafd-trutv-tacoma-fd-tfd110-w6BAZ00PE2ai30V7FA">via
    </a></p>
  <!-- <iframe src="https://giphy.com/embed/3otPorZ08nPuaZfoeA" width="480" height="270"
    frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p><a href="https://giphy.com/gifs/filmeditor-mean-girls-movie-3otPorZ08nPuaZfoeA"></a>
  </p> -->
  <h2>
    Move the thing to the other thing!
  </h2>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" cdkFocusInitial>Ok</button>
</div>
