<mat-toolbar color="primary">
  ng material themes
  <div class="flex-stretch"></div>
</mat-toolbar>

<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column"
  fxLayoutGap="16px">
  <div fxFlex="50">
    <h1>Welcome to the Full Stack Meetup!</h1>
    <div class="demo-row" fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="demo-row" fxLayout="row" fxLayoutGap="16px">
      <mat-checkbox checked="true">Default</mat-checkbox>
      <mat-checkbox checked="true" color="primary">Primary</mat-checkbox>
      <mat-checkbox checked="true" color="accent">Accent</mat-checkbox>
      <mat-checkbox checked="true" color="warn">Warn</mat-checkbox>
      <mat-checkbox disabled>Disabled</mat-checkbox>
    </div>
    <div class="demo-row" fxLayout="row" fxLayoutGap="24px">
      <div matBadge="2" matBadgeOverlap="false">Default</div>
      <div matBadge="1" matBadgeColor="primary" matBadgeOverlap="false">Primary</div>
      <div matBadge="1" matBadgeColor="accent" matBadgeOverlap="false">Accent</div>
      <div matBadge="2" matBadgeColor="warn" matBadgeOverlap="false">Warn</div>
    </div>
    <div class="demo-row" fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button (click)="openDialog()">Default</button>
      <button mat-raised-button color="primary" (click)="openDialog()">Primary</button>
      <button mat-raised-button color="accent" (click)="openDialog()">Accent</button>
      <button mat-raised-button color="warn" (click)="openDialog()">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
    </div>
  </div>
  <div fxFlex="50">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <div>
      <h2>Go Bucs!</h2>
      The Tampa Bay Buccaneers are a professional American football team based in Tampa,
      Florida. The Buccaneers compete in the National Football League (NFL) as a member
      club of the league's National Football Conference (NFC) South division. The club
      joined the NFL in 1976 as an expansion team, along with the Seattle Seahawks, and
      played its first season in the American Football Conference (AFC) West division.
      Prior to the 1977 season, Tampa Bay switched conferences and divisions with Seattle,
      becoming a member of the NFC Central division. During the 2002 league realignment,
      the Buccaneers joined three former NFC West teams to form the NFC South. The club is
      owned by the Glazer family and plays its home games at Raymond James Stadium in
      Tampa.
    </div>
  </div>
</div>
