@import './es-common-palettes.scss';

$nx-dark-info: $nx-info;
$nx-dark-success: $nx-success;
$nx-dark-caution: $nx-caution;
$nx-dark-warn: $nx-warn;

$nx-dark-info-contrast: $nx-black;
$nx-dark-success-contrast: $nx-black;
$nx-dark-caution-contrast: $nx-black;
$nx-dark-warn-contrast: $nx-black;

// //Angular Material calls red/error "warn" rather than error... yay :|
//red
// nx-warn-900 is a synonym for nx-warn

$nx-dark-warn-100: rgba($nx-dark-warn, $opacity-10-pct);
$nx-dark-warn-300: rgba($nx-dark-warn, $opacity-25-pct);
$nx-dark-warn-500: rgba($nx-dark-warn, $opacity-50-pct);
$nx-dark-warn-700: rgba($nx-dark-warn, $opacity-75-pct);
$nx-dark-warn-900: $nx-dark-warn;

$nx-dark-warn-100-contrast: $nx-black;
$nx-dark-warn-300-contrast: $nx-black;
$nx-dark-warn-500-contrast: $nx-black;
$nx-dark-warn-700-contrast: $nx-black;
$nx-dark-warn-contrast: $nx-black;
$nx-dark-warn-900-contrast: $nx-dark-warn-contrast;


$nx-dark-warn-scheme: (
  100: $nx-dark-warn-100,
  300: $nx-dark-warn-300,
  500: $nx-dark-warn-500,
  700: $nx-dark-warn-700,
  900: $nx-dark-warn-900,
  nx-warn: $nx-dark-warn,
  contrast: (
    100: $nx-dark-warn-100-contrast,
    300: $nx-dark-warn-300-contrast,
    500: $nx-dark-warn-500-contrast,
    700: $nx-dark-warn-700-contrast,
    900: $nx-dark-warn-900-contrast,
    nx-warn: $nx-dark-warn-contrast
  ),
);


// green
// nx-success-900 is a synonym for nx-success
// nx-success-700 should not be used as a background for small/regular text,
//    it has insufficient contrast.
//    Should only be used for large text.
$nx-dark-success-100: rgba($nx-dark-success, $opacity-10-pct);
$nx-dark-success-300: rgba($nx-dark-success, $opacity-25-pct);
$nx-dark-success-500: rgba($nx-dark-success, $opacity-50-pct);
$nx-dark-success-700: rgba($nx-dark-success, $opacity-75-pct);
$nx-dark-success-900: $nx-dark-success;

$nx-dark-success-100-contrast: $nx-black;
$nx-dark-success-300-contrast: $nx-black;
$nx-dark-success-500-contrast: $nx-black;
$nx-dark-success-700-contrast: $nx-black;
$nx-dark-success-contrast: $nx-black;
$nx-dark-success-900-contrast: $nx-dark-success-contrast;

$nx-dark-success-scheme: (
  100: $nx-dark-success-100,
  300: $nx-dark-success-300,
  500: $nx-dark-success-500,
  700: $nx-dark-success-700,
  900: $nx-dark-success-900,
  nx-success: $nx-dark-success,
  contrast: (
    100: $nx-dark-success-100-contrast,
    300: $nx-dark-success-300-contrast,
    500: $nx-dark-success-500-contrast,
    700: $nx-dark-success-700-contrast,
    900: $nx-dark-success-900-contrast,
    nx-success: $nx-dark-success-contrast
  ),
);

//yellow
// nx-caution-900 is a synonym for nx-caution
// nx-caution-900 should not be used as a background for small/regular text,
//    it has insufficient contrast.
//    Should only be used for large text.
$nx-dark-caution-100: rgba($nx-dark-caution, $opacity-10-pct);
$nx-dark-caution-300: rgba($nx-dark-caution, $opacity-25-pct);
$nx-dark-caution-500: rgba($nx-dark-caution, $opacity-50-pct);
$nx-dark-caution-700: rgba($nx-dark-caution, $opacity-75-pct);
$nx-dark-caution-900: $nx-dark-caution;


$nx-dark-caution-100-contrast: $nx-black;
$nx-dark-caution-300-contrast: $nx-black;
$nx-dark-caution-500-contrast: $nx-black;
$nx-dark-caution-700-contrast: $nx-black;
$nx-dark-caution-contrast: $nx-black;
$nx-dark-caution-900-contrast: $nx-dark-caution-contrast;

$nx-dark-caution-scheme: (
  100: $nx-dark-caution-100,
  300: $nx-dark-caution-300,
  500: $nx-dark-caution-500,
  700: $nx-dark-caution-700,
  900: $nx-dark-caution-900,
  nx-caution: $nx-dark-caution,
  contrast: (
    100: $nx-dark-caution-100-contrast,
    300: $nx-dark-caution-300-contrast,
    500: $nx-dark-caution-500-contrast,
    700: $nx-dark-caution-700-contrast,
    900: $nx-dark-caution-900-contrast,
    nx-caution: $nx-dark-caution-contrast
  ),
);


//blue
// nx-info-900 is a synonym for nx-info
//  nx-info-500 and nx-info-700 should not be used as a background for small/regular text,
//    it has insufficient contrast.
//    Should only be used for large text.
// nx-info-900 cannot be used as a text background, period.  fails all AA checks.
$nx-dark-info-100: rgba($nx-dark-info, $opacity-10-pct);
$nx-dark-info-300: rgba($nx-dark-info, $opacity-25-pct);
$nx-dark-info-500: rgba($nx-dark-info, $opacity-50-pct);
$nx-dark-info-700: rgba($nx-dark-info, $opacity-75-pct);
$nx-dark-info-900: $nx-dark-info;

$nx-dark-info-100-contrast: $nx-black;
$nx-dark-info-300-contrast: $nx-black;
$nx-dark-info-500-contrast: $nx-black;
$nx-dark-info-700-contrast: $nx-black;
$nx-dark-info-contrast: $nx-black;
$nx-dark-info-900-contrast: $nx-dark-info-contrast;

$nx-dark-info-scheme: (
  100: $nx-dark-info-100,
  300: $nx-dark-info-300,
  500: $nx-dark-info-500,
  700: $nx-dark-info-700,
  900: $nx-dark-info-900,
  nx-info: $nx-dark-info,
  contrast: (
    100: $nx-dark-info-100-contrast,
    300: $nx-dark-info-300-contrast,
    500: $nx-dark-info-500-contrast,
    700: $nx-dark-info-700-contrast,
    900: $nx-dark-info-900-contrast,
    nx-info: $nx-dark-info-contrast
  ),
);


