/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

//our default font is Open Sans
$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// If this mixin is included multiple times, your application will end up with multiple copies of these common styles.
// @include mat-core();

// Override the typography in the core CSS.
@include mat-core($custom-typography);

//#region primary, accent, custom, and warn colors for light mode

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$nx-light-primary-scheme: (
  50: #B0FFF5,
  100: #7DFFEF,
  200: #1EFFE1,
  300: #17BFA8,
  400: #15AB96,
  500: #129482,
  // 600 is primary primary
  600: #108575,
  700: #0B5E53,
  800: #08423B,
  900: #06302B,
  contrast: (
    //TODO check these against WCAG
    50: #333,
    100: #333,
    200: #333,
    300: #333,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$nx-light-accent-scheme: (
  50: #C9E7FF,
  100: #ABD9FF,
  200: #8ACAFF,
  300: #3F9BE6,
  400: #3786C7,
  //500 is our primary accent.
  500: #2F73AB,
  600: #255B87,
  700: #1F4B70,
  800: #1A3F5E,
  900: #173753,
  contrast: (
    50: #333,
    100: #333,
    200: #333,
    300: #333,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// you must include the contrast colors!
$nx-light-warn-scheme: (
  100: rgba(344, 40, 81, 10),
  300: rgba(344, 40, 81, 25),
  500: rgba(344, 40, 81, 50),
  700: rgba(344, 40, 81, 75),
  900: rgba(344, 40, 81, 100),
  contrast: (
    100: #ffffff,
    300: #ffffff,
    500: #ffffff,
    700: #ffffff,
    900: #ffffff,
  ),
);

//primary , accent, warn, success, info
$nx-light-custom-scheme: (
  warning: #F1BB87,
  success: #ABE188,
  danger: #CE7B91,
  info: #007DAE,
  nx-black: #000000,
  nx-dark-grey: #333,
  nx-grey: #858585,
  nx-light-grey: #d8d8d8,
  nx-washed-grey: #f8f8f8,
  nx-white: #ffffff,
  contrast: (
    warning: #ffffff,
    success: #ffffff,
    danger: #ffffff,
    info: #ffffff,
    nx-black: #ffffff,
    nx-dark-grey: #ffffff,
    nx-grey: #ffffff,
    nx-light-grey: #333,
    nx-washed-grey: #333,
    nx-white: #333,
  ),
);
//#endregion primary, accent, custom, and warn colors for light mode

////////////////////////////////////////////////////////////////////// // Convert maps into 'palettes'

// mat-palette accepts $palette-name, main, lighter and darker variants
// If no numbers are provided Angular Material selects sensible defaults $default: 500, $lighter: 100, $darker: 700.
$nx-light-primary-palette: mat-palette($nx-light-primary-scheme, 600, 50, 900);
$nx-light-accent-palette: mat-palette($nx-light-accent-scheme, 500, 50, 900);
//$nx-warn-scheme:    mat-palette($mat-red);  //<< you can make a palette out of their pre-defined colors
$nx-warn-palette: mat-palette($nx-light-warn-scheme); //<< or you can use your own.

//For the other colors (info, success) that aren't a part of the theme elements (primary, access, warn)
//you can create a palette here
$nx-other-palette: mat-palette($nx-light-custom-scheme, custom);

///////////////////////////////// START Create 'theme' from palettes /////////////////////////////////////////////////// // //

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
// Angular's theme has 3 colors (primary, access, warn(optional))
// The warn palette is optional (defaults to red).  They don't let you customize success/error (see workaround below)
//Theme background colors come from whether you base your custom theme off of the mat-light-theme or the dark theme
$nx-light-theme: mat-light-theme(
  (
    color: (
      primary: $nx-light-primary-palette,
      accent: $nx-light-accent-palette,
      warn: $nx-warn-palette,
    ),
  )
);

//// ////////////// START custom other colors in theme:
// Then you can merge tthe heme with your "other" palette after mat-light-theme row like this
$nx-light-theme: map_merge(
  $nx-light-theme,
  (
    custom: $nx-other-palette,
  )
);

// After this you have one object where every color is located.
// And may I suggest you make general custom object for this like this
$nx-custom: map-get($nx-light-theme, custom);
$nx-greys: map-get($nx-light-theme, custom);
$nx-light-primaries: map-get($nx-light-theme, primary);
$nx-light-accents: map-get($nx-light-theme, accent);

//@debug 'Property nx-primaries: #{$nx-light-primaries}';
//@debug 'Property nx-light-theme: #{$nx-light-theme}';

//#region custom css classes
// Then you can use it in your component like this
button.nx-success {
  background-color: mat-color($nx-custom, success);
  color: mat-color($nx-custom, success-contrast);
}
button.nx-info {
  background-color: mat-color($nx-custom, info);
  color: mat-color($nx-custom, info-contrast);
}
button.nx-warn {
  background-color: mat-color($nx-custom, warning);
  color: mat-color($nx-custom, warning-contrast);
}

button.nx-black {
  background-color: mat-color($nx-greys, nx-black);
  color: mat-color($nx-greys, nx-black-contrast);
}
button.nx-dark-grey {
  background-color: mat-color($nx-greys, nx-dark-grey);
  color: mat-color($nx-greys, nx-dark-grey-contrast);
}
button.nx-grey {
  background-color: mat-color($nx-greys, nx-grey);
  color: mat-color($nx-greys, nx-grey-contrast);
}
button.nx-light-grey {
  background-color: mat-color($nx-greys, nx-light-grey);
  color: mat-color($nx-greys, nx-light-grey-contrast);
}
button.nx-washed-grey {
  background-color: mat-color($nx-greys, nx-washed-grey);
  color: mat-color($nx-greys, nx-washed-grey-contrast);
}
button.nx-white {
  background-color: mat-color($nx-greys, nx-white);
  color: mat-color($nx-greys, nx-white-contrast);
}

//accessing all of the primary-variants same way here:
button.nx-primary-50 {
  background-color: mat-color($nx-light-primaries, 50);
  color: mat-color($nx-light-primaries, '50-contrast');
}
button.nx-primary-100 {
  background-color: mat-color($nx-light-primaries, 100);
  color: mat-color($nx-light-primaries, '100-contrast');
}
button.nx-primary-200 {
  background-color: mat-color($nx-light-primaries, 200);
  color: mat-color($nx-light-primaries, '200-contrast');
}
button.nx-primary-300 {
  background-color: mat-color($nx-light-primaries, 300);
  color: mat-color($nx-light-primaries, '300-contrast');
}
button.nx-primary-400 {
  background-color: mat-color($nx-light-primaries, 400);
  color: mat-color($nx-light-primaries, '400-contrast');
}
button.nx-primary-500 {
  background-color: mat-color($nx-light-primaries, 500);
  color: mat-color($nx-light-primaries, '500-contrast');
}
button.nx-primary-600 {
  background-color: mat-color($nx-light-primaries, 600);
  color: mat-color($nx-light-primaries, '600-contrast');
}
button.nx-primary-700 {
  background-color: mat-color($nx-light-primaries, 700);
  color: mat-color($nx-light-primaries, '700-contrast');
}
button.nx-primary-800 {
  background-color: mat-color($nx-light-primaries, 800);
  color: mat-color($nx-light-primaries, '800-contrast');
}
button.nx-primary-900 {
  background-color: mat-color($nx-light-primaries, 900);
  color: mat-color($nx-light-primaries, '900-contrast');
}

//accessing all of the secondary-variants same way here:
button.nx-secondary-50 {
  background-color: mat-color($nx-light-accents, 50);
  color: mat-color($nx-light-accents, '50-contrast');
}
button.nx-secondary-100 {
  background-color: mat-color($nx-light-accents, 100);
  color: mat-color($nx-light-accents, '100-contrast');
}
button.nx-secondary-200 {
  background-color: mat-color($nx-light-accents, 200);
  color: mat-color($nx-light-accents, '200-contrast');
}
button.nx-secondary-300 {
  background-color: mat-color($nx-light-accents, 300);
  color: mat-color($nx-light-accents, '300-contrast');
}
button.nx-secondary-400 {
  background-color: mat-color($nx-light-accents, 400);
  color: mat-color($nx-light-accents, '400-contrast');
}
button.nx-secondary-500 {
  background-color: mat-color($nx-light-accents, 500);
  color: mat-color($nx-light-accents, '500-contrast');
}
button.nx-secondary-600 {
  background-color: mat-color($nx-light-accents, 600);
  color: mat-color($nx-light-accents, '600-contrast');
}
button.nx-secondary-700 {
  background-color: mat-color($nx-light-accents, 700);
  color: mat-color($nx-light-accents, '700-contrast');
}
button.nx-secondary-800 {
  background-color: mat-color($nx-light-accents, 800);
  color: mat-color($nx-light-accents, '800-contrast');
}
button.nx-secondary-900 {
  background-color: mat-color($nx-light-accents, 900);
  color: mat-color($nx-light-accents, '900-contrast');
}
// #endregion
//// ////////////// END custom other colors in theme

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nx-light-theme);

///////////////////////////////// END   Create 'theme' from palettes//////////////////////////////////////////////////////// // //

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// dark theme

//#region primary, accent, custom, and warn colors for dark mode

$nx-dark-primary-scheme: (
  50: #D4FFF9,
  100: #8AFFEF,
  200: #1FFFE1,
  300: #1AD4BB,
  400: #17BAA4,
  // 500 is primary primary
  500: #118A79,
  600: #0E786A,
  700: #0B6156,
  800: #095248,
  900: #08473F,
  contrast: (
    50: #333,
    100: #333,
    200: #333,
    300: #333,
    400: #333,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);


$nx-dark-accent-scheme: (
  50: #C9E7FF,
  100: #ABD9FF,
  200: #8ACAFF,
  300: #3F9BE6,
  400: #3F9BE6,
  //500 is our primary accent.
  500: #2F73AB,
  600: #265F8C,
  700: #204F75,
  800: #1C4466,
  900: #1A3F5E,
  contrast: (
    50: #333,
    100: #333,
    200: #333,
    300: #333,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

//primary , accent, warn, success, info
$nx-dark-custom-scheme: (
  warning: #ffb35d,
  success: #61bb4b,
  danger: #ff797f,
  info: #5ABFED,
  nx-black: #333333,
  nx-dark-grey: #6B6B6B,
  nx-grey: #858585,
  nx-light-grey: #d8d8d8,
  nx-washed-grey: #f8f8f8,
  nx-white: #ffffff,
  contrast: (
    warning: #333,
    success: #333,
    danger: #333,
    info: #333,
    nx-black: #ffffff,
    nx-dark-grey: #ffffff,
    nx-grey: #ffffff,
    nx-light-grey: #333,
    nx-washed-grey: #333,
    nx-white: #333,
  ),
);

// Error Colors
//Angular Material calls red/error "warn"... yay :|
$nx-dark-warn-scheme: (
  100: rgba(255, 121, 127, 10),
  300: rgba(255, 121, 127, 25),
  500: rgba(255, 121, 127, 50),
  700: rgba(255, 121, 127, 75),
  900: rgba(255, 121, 127, 100),
  contrast: (
    100: #ffffff,
    300: #ffffff,
    500: #ffffff,
    700: #ffffff,
    900: #ffffff,
  ),
);
//#endregion primary, accent, custom, and warn colors
////////////////////////////////////////// // Convert maps into 'palettes'

// mat-palette accepts $palette-name, main, lighter and darker variants
$nx-dark-primary-palette: mat-palette($nx-dark-primary-scheme, 500, 50, 900);
$nx-dark-accent-palette: mat-palette($nx-dark-accent-scheme, 500, 50, 900);
$nx-dark-warn-palette: mat-palette($nx-dark-warn-scheme);

//For the other colors (info, success) that aren't a part of the theme elements (primary, access, warn)
//you can create a palette here
$nx-dark-custom-palette: mat-palette($nx-dark-custom-scheme, custom);

////////////// START Create 'theme' from palettes ////////////// // //

// Create the theme object based off of mat-dark
$nx-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $nx-dark-primary-palette,
      accent: $nx-dark-accent-palette,
      warn: $nx-dark-warn-palette,
    ),
  )
);

// merge the dark theme with your "other" palette
$nx-dark-theme: map_merge(
  $nx-dark-theme,
  (
    custom: $nx-dark-custom-palette,
  )
);


// After this you have one object where every color is located.
// And may I suggest you make general custom object for this like this
$nx-dark-custom: map-get($nx-dark-theme, custom);
$nx-dark-greys: map-get($nx-dark-theme, custom);
$nx-dark-primaries: map-get($nx-dark-theme, primary);
$nx-dark-accents: map-get($nx-dark-theme, accent);

//#region custom css classes
// Then you can use it in your component like this
button.nx-success.darkMode {
  background-color: mat-color($nx-dark-custom, success);
  color: mat-color($nx-dark-custom, success-contrast);
}
button.nx-info.darkMode  {
  background-color: mat-color($nx-dark-custom, info);
  color: mat-color($nx-dark-custom, info-contrast);
}
button.nx-warn.darkMode  {
  background-color: mat-color($nx-dark-custom, warning);
  color: mat-color($nx-dark-custom, warning-contrast);
}

button.nx-black.darkMode {
  background-color: mat-color($nx-dark-greys, nx-black);
  color: mat-color($nx-dark-greys, nx-black-contrast);
}
button.nx-dark-grey.darkMode {
  background-color: mat-color($nx-dark-greys, nx-dark-grey);
  color: mat-color($nx-dark-greys, nx-dark-grey-contrast);
}
button.nx-grey.darkMode {
  background-color: mat-color($nx-dark-greys, nx-grey);
  color: mat-color($nx-dark-greys, nx-grey-contrast);
}
button.nx-light-grey.darkMode {
  background-color: mat-color($nx-dark-greys, nx-light-grey);
  color: mat-color($nx-dark-greys, nx-light-grey-contrast);
}
button.nx-washed-grey.darkMode {
  background-color: mat-color($nx-dark-greys, nx-washed-grey);
  color: mat-color($nx-dark-greys, nx-washed-grey-contrast);
}
button.nx-white.darkMode {
  background-color: mat-color($nx-dark-greys, nx-white);
  color: mat-color($nx-dark-greys, nx-white-contrast);
}

//accessing all of the primary-variants same way here:
button.nx-primary-50.darkMode {
  background-color: mat-color($nx-dark-primaries, 50);
  color: mat-color($nx-dark-primaries, '50-contrast');
}
button.nx-primary-100.darkMode {
  background-color: mat-color($nx-dark-primaries, 100);
  color: mat-color($nx-dark-primaries, '100-contrast');
}
button.nx-primary-200.darkMode {
  background-color: mat-color($nx-dark-primaries, 200);
  color: mat-color($nx-dark-primaries, '200-contrast');
}
button.nx-primary-300.darkMode {
  background-color: mat-color($nx-dark-primaries, 300);
  color: mat-color($nx-dark-primaries, '300-contrast');
}
button.nx-primary-400.darkMode {
  background-color: mat-color($nx-dark-primaries, 400);
  color: mat-color($nx-dark-primaries, '400-contrast');
}
button.nx-primary-500.darkMode {
  background-color: mat-color($nx-dark-primaries, 500);
  color: mat-color($nx-dark-primaries, '500-contrast');
}
button.nx-primary-600.darkMode {
  background-color: mat-color($nx-dark-primaries, 600);
  color: mat-color($nx-dark-primaries, '600-contrast');
}
button.nx-primary-700.darkMode {
  background-color: mat-color($nx-dark-primaries, 700);
  color: mat-color($nx-dark-primaries, '700-contrast');
}
button.nx-primary-800.darkMode {
  background-color: mat-color($nx-dark-primaries, 800);
  color: mat-color($nx-dark-primaries, '800-contrast');
}
button.nx-primary-900.darkMode {
  background-color: mat-color($nx-dark-primaries, 900);
  color: mat-color($nx-dark-primaries, '900-contrast');
}

//accessing all of the secondary-variants same way here:
button.nx-secondary-50.darkMode {
  background-color: mat-color($nx-dark-accents, 50);
  color: mat-color($nx-dark-accents, '50-contrast');
}
button.nx-secondary-100.darkMode {
  background-color: mat-color($nx-dark-accents, 100);
  color: mat-color($nx-dark-accents, '100-contrast');
}
button.nx-secondary-200.darkMode {
  background-color: mat-color($nx-dark-accents, 200);
  color: mat-color($nx-dark-accents, '200-contrast');
}
button.nx-secondary-300.darkMode {
  background-color: mat-color($nx-dark-accents, 300);
  color: mat-color($nx-dark-accents, '300-contrast');
}
button.nx-secondary-400.darkMode {
  background-color: mat-color($nx-dark-accents, 400);
  color: mat-color($nx-dark-accents, '400-contrast');
}
button.nx-secondary-500.darkMode {
  background-color: mat-color($nx-dark-accents, 500);
  color: mat-color($nx-dark-accents, '500-contrast');
}
button.nx-secondary-600.darkMode {
  background-color: mat-color($nx-dark-accents, 600);
  color: mat-color($nx-dark-accents, '600-contrast');
}
button.nx-secondary-700.darkMode {
  background-color: mat-color($nx-dark-accents, 700);
  color: mat-color($nx-dark-accents, '700-contrast');
}
button.nx-secondary-800.darkMode {
  background-color: mat-color($nx-dark-accents, 800);
  color: mat-color($nx-dark-accents, '800-contrast');
}
button.nx-secondary-900.darkMode {
  background-color: mat-color($nx-dark-accents, 900);
  color: mat-color($nx-dark-accents, '900-contrast');
}
// #endregion
//// ////////////// END custom other colors in theme




.darkMode {
  @include angular-material-color($nx-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif; // so that we can see our theme override this
}
